*{
    box-sizing: border-box;
}
body{
    padding-bottom: 25rem;
    font-family: 'Poppins', sans-serif;
}


.section-title{
    font-weight: bold;
    font-size: 3rem;
}
.header{
    padding: 3rem;
    display: flex;
    height: 25rem;
    align-items: center;
}
.header .content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    width: 50%;
}
.header .content .introduction{
    font-size: 0.75rem;
    text-transform: uppercase; 
    font-weight:lighter ;
}
.header .content .name{
    font-size: 2rem;    
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin:  1rem 0 1rem 0;
    /* 2f = 3 */
}
.header .content .buttons{
    /* border: 1px solid green; */
    margin-top: 1rem;
}
.header .content .buttons .button{
     background-color: yellow;
     color: rgb(0, 0, 0);
     border: 0;
     padding: .5rem 1rem ;
}
.header .illustration{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}    
.header .illustration .illustration2{    
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6d49676e-6e44-4956-b7e6-11844440bd26/dak07bc-61b845fb-7fef-4ee3-bb2e-446ad37428ee.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi82ZDQ5Njc2ZS02ZTQ0LTQ5NTYtYjdlNi0xMTg0NDQ0MGJkMjYvZGFrMDdiYy02MWI4NDVmYi03ZmVmLTRlZTMtYmIyZS00NDZhZDM3NDI4ZWUuanBnIn1dXX0.Hax-3Xrz500hNU4uuD-imH7TLgwg9jjmg1vI4r38LQY');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 22%;
    width: 70%;
    height: 100%;
    border-radius: 1rem;
}
.customers{
    width: 1024px;
    margin: auto;
}
.customers .list{
    display: flex;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid blue; */
    flex-wrap: wrap;
}
.customers .list .box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: calc(100% / 6 - 1%);
    margin-right: calc((1% * 6) / 5);
}
.customers .list .box:nth-child(6n+0){
    margin-right: 0;
    /* background-color: red; */
}
.customers .list .img{
    width: 6.5rem;
    max-width: 80%;
    width: auto;
    max-height: 60%;
}
.services{
    width: 1024px;
    margin: auto;
}
.section-title{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.services .list2 .sous-titre{
    font-size: 1,5rem;
    font-weight: bold;
}
.services .list2{    
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    /* flex flow = flex direction et flex wrap */
    margin-bottom: 5rem;
}
.services .list2 .box2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 14rem;
    width: calc(100% / 3 - 1%);
    margin-right: calc((1% * 3) / 2);
    border-radius: 1rem;
    transition: box-shadow .3s ease;
}
.services .list2 .box2 .logo .logoint{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 5rem;
    width: 100%;
}
.services .list2 .box2 .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
}
.services .list2 .box2:nth-child(3n+0){
    margin-right: 0;
    /* background-color: red; */
}
.services .list2 .box2 .text{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}
.services .list2 .box2 .sous-titre{
    margin-top: .5rem;
    margin-bottom: 1rem;
}
.services .list2 .box2:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
